@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800&family=Merriweather:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800&family=Kaushan+Script&family=Merriweather:wght@300;400;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');


@import "./navbar-responsive";
@import "./homepage-responsive";
@import "./aboutpage-responsive";
@import "./servicespage-responsive";
@import "./luxeventspage-responsive";
@import "./gallerypage-responsive";
@import "./partnerspage-pesponsive";
