#lux-events {
  .lux-events {
    background-image: url("./../images/about-background.png");
    object-fit: cover;
    // background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
  }
}
